<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Predict Bay - A place where traders talk </title>
    <link href='https://fonts.googleapis.com/css?family=Bungee Outline' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <!-- Use firebase app and database. -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

    <link rel="stylesheet" href="/static/css/gchat.css"/>
    <script type="text/javascript" src="/static/js/gchat.js"></script>

    <!-- Favicons -->
    <link href="/static/img/logoalt2.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    <style>
      #title_container {
        width: 100%;
        height: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #35517a;
        border-bottom: 5px solid #fff;
        box-shadow: 0 0 30px -18px #D64045;
    }
    </style>
  </head>
  <body>
    <main id="main" class="main">
  </body>
</html>