<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PredictBay</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="/static/img/logoalt2.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/css/quill.bubble.css" rel="stylesheet">
    <link href="/static/css/quill.snow.css" rel="stylesheet">
    <link href="/static/css/remixicon.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-track {
            background: #343a40;
        }

        ::-webkit-scrollbar-thumb {
            -ms-overflow-style: none;
            background-color: #adb5bd;
            border-radius: 25px;
            border: 3px #dee2e6;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

        #auth-links {
            display: none;
        }
    </style>


</head>

<body>
    <div id="loader">
        <div id="loader-text"></div>
    </div>

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="{{url_for('index')}}" class="logo d-flex align-items-center">
                <img src="/static/img/logoalt2.png" alt="">
                <span class="d-none d-lg-block">PredictBay</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <div class="search-bar">
            <form id="specific-form" class="search-form d-flex align-items-center" method="POST" action="/">
                <input type="text" id="ticker" name="ticker" value="{{ ticker }}" placeholder="Enter ticker symbol (NASDAQ)">
                <button type="submit" title="Search" value="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        
        <script>
            $(document).ready(function () {
                $("#ticker").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/search",
                            type: "GET",
                            data: { keyword: request.term },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 1,
                    select: function (event, ui) {
                        event.preventDefault();
        
                        // Send the selected company name to Flask for getting the ticker
                        $.ajax({
                            url: "/select",
                            type: "GET",
                            data: { company_name: ui.item.value },
                            success: function (data) {
                                var ticker = data.ticker; // Retrieve the ticker
                                $("#ticker").val(ticker); // Set the ticker as the value of the search box
                                $("#specific-form").submit(); // Submit the form with the ticker as the keyword
                            }
                        });
                    }
                });
            });
        </script>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <li class="nav-item dropdown pe-3">
                    <div id="user-button"></div>
                </li>
            </ul>
        </nav>
    </header>



    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed " href="{{url_for('index')}}">
                    <i class="bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('indicators')}}">
                    <i class="bi bi-bar-chart"></i>
                    <span>Indicators</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('trade')}}">
                    <i class="bi bi-currency-exchange"></i>
                    <span>Trade</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('logs')}}">
                    <i class="bi bi-clock-history"></i>
                    <span>Logs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('faq')}}">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('contact')}}">
                    <i class="bi bi-envelope"></i>
                    <span>Contact</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('news')}}">
                    <i class="bi bi-newspaper"></i>
                    <span>News</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('gchat')}}">
                    <i class="bi bi-chat-right-dots"></i>
                    <span>Global Chat</span>
                </a>
            </li>

            <!--             <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('register')}}">
                    <i class="bi bi-card-list"></i>
                    <span>Register</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('login')}}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('overview')}}">
                    <i class="bi bi-dash-circle"></i>
                    <span>Overview</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{url_for('about')}}">
                    <i class="bi bi-person"></i>
                    <span>About Us</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href='javascript:;' onclick="Clerk.openSignIn()" id="auth-links">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li>

        </ul>

    </aside>

    <!-- ======= login script ====== -->

    <script>
        const publishableKey = "pk_test_dGlnaHQtb3J5eC04MC5jbGVyay5hY2NvdW50cy5kZXYk";

        const startClerk = async () => {
            const Clerk = window.Clerk;

            try {

                await Clerk.load();

                const userButton = document.getElementById("user-button");
                const authLinks = document.getElementById("auth-links");

                Clerk.addListener(({ user }) => {

                    authLinks.style.display = user ? "none" : "block";
                });

                if (Clerk.user) {

                    Clerk.mountUserButton(userButton);
                    userButton.style.margin = "auto";
                }
            } catch (err) {
                console.error("Error starting Clerk: ", err);
            }
        };

        (() => {
            const script = document.createElement("script");
            script.setAttribute("data-clerk-publishable-key", publishableKey);
            script.async = true;
            script.src = `https://cdn.jsdelivr.net/npm/@clerk/clerk-js@latest/dist/clerk.browser.js`;
            script.crossOrigin = "anonymous";
            script.addEventListener("load", startClerk);
            script.addEventListener("error", () => {
                document.getElementById("no-frontend-api-warning").hidden = false;
            });
            document.body.appendChild(script);
        })();

    </script>

    <!-- ====== end login ====== -->


    <main id="main" class="main">

        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-8">

                    <div class="row">

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| High</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{high_value|round(3)}}</h6>
                                            <span
                                                class="text-success small pt-1 fw-bold">{{high_percent|round(4)}}%</span>
                                            <span class="text-muted small pt-2 ps-1">{{high_status}}</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-12">

                            <div class="card info-card customers-card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| Open</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{open_value|round(3)}}</h6>
                                            <span
                                                class="text-danger small pt-1 fw-bold">{{Open_percent|round(4)}}%</span>
                                            <span class="text-muted small pt-2 ps-1">{{Open_status}}</span>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| Close</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{close_value|round(3)}}</h6>
                                            <span
                                                class="text-success small pt-1 fw-bold">{{Close_percent|round(4)}}%</span>
                                            <span class="text-muted small pt-2 ps-1">{{Close_status}}</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| Closing Price</span></h5>
                                    {% if chart %}
                                    {{ chart|safe }}
                                    {% endif %}

                                </div>

                            </div>
                        </div>


                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| Original VS Prediction (LSTM)</span></h5>
                                    <div id="graph-div">{{ graph_html|safe }}</div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| Original VS Prediction (BiLSTM)</span>
                                    </h5>


                                    <div id="graph-div">{{ bilstm_graph_html|safe }}</div>

                                </div>

                            </div>
                        </div>
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| LSTM Predicted Price</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{predicted_price|round(4)}}</h6>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

<!--                         <div class="col-xxl-4 col-xl-12">

                            <div class="card info-card customers-card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| Predicted Closing Range</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{uprange}} - {{downrange}}</h6>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div> -->

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| BiLSTM Predicted Price</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{biLSTM_predicted_price|round(4)}}</h6>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card customers-card">
                        
                                <div class="card-body">
                                    <h5 class="card-title">{{ticker}} <span>| GRU Predicted price</span></h5>
                        
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{prediction_GRU}}</h6>
                        
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                        
                            <div class="card info-card customers-card">
                        
                                <div class="card-body">
                                    <center><h5 class="card-title">{{ticker}} <span>| Predicted Closing Range</span></h5></center>
                        
                                    <div class="d-flex align-items-center">
                                        <div class="ps-3" style="margin-left: auto;margin-right: auto;">
                                           <h6>{{uprange}} - {{downrange}}</h6>
                        
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Company Name :<span> {{ company_name }}</span></h5>
                            <h5 class="card-title">Market Cap :<span> {{ market_cap }}</span></h5>
                            <h5 class="card-title">Description :<span> {{ short_description }}</span></h5>

                        </div>
                    </div>


                    <div class="card" style="height: 550px;">
                        <div class="card-body" style="overflow:hidden;overflow-y:scroll;height: 200px; width: 100%; ">
                            <h5 class="card-title">TOP COMPANIES IN INDIA<span> | MARKET CAPITALISATION - BSE</span>
                            </h5>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/reliance.svg" height="55px" width="55px">
                                </div>
                                <div class="ps-3">
                                    <h5>Reliance Industries Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">1,742,477.95</span>

                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/tcs.webp" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Tata Consultancy Services Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">1,161,840.29</span>


                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/HDFC-Bank-Logo.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>HDFC Bank Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">895,458.57</span>


                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/ICICI_logo.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>ICICI Bank Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">653,980.16</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/HUL_logo.svg" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Hindustan Unilever Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">638,019.76</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/1200px-ITC_Limited_Logo.svg.png" height="55px"
                                        width="55px" style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>ITC Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">563,237.76</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/infosys-logo.jpg" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Infosys Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">536,474.62</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/SBI-logo.svg.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>State Bank of India</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">509,863.08</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/hdfc.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Housing Development Finance Corporation Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">490,010.378</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/airtel-logo-white-text-vertical.jpg" height="55px"
                                        width="55px" style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Bharti Airtel Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">474,611.60</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/Bajaj.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Bajaj Finance Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">436,467.36</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/licindia.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>LIC India</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">382,346.11
                                    </span>
                                </div>
                            </div>


                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/Kotak_Mahindra.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Kotak Mahindra Bank Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">369,093.22</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/LT.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Larsen & Toubro Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">332,003.31</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/AP.jpg" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Asian Paints Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">317,993.25</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/HCL.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>HCL Technologies Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">311,800.12</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/axisbank.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Axis Bank Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">302,066.23</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/MS.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Maruti Suzuki India Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">290,298.94</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/adani.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Adani Enterprises Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">285,758.38</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center" style="margin-top: 30px;">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <img src="/static/img/logos/supermarts.png" height="55px" width="55px"
                                        style="border-radius: 50%;">
                                </div>
                                <div class="ps-3">
                                    <h5>Avenue Supermarts Ltd.</h5>
                                    <span class="text-muted small pt-2 ps-1">Market Cap (Rs. cr) :</span>
                                    <span class="text-success small pt-1 fw-bold">265,596.36</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <form
                                action="https://live.us21.list-manage.com/subscribe/post?u=ad18f4fc61203ce08318f1249&amp;id=08d1490c3a&amp;f_id=00ebd4e6f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h2 class="card-title" style="font-size: 25px;">Subscribe to our Newsletter</h2>

                                    <div class="row mb-3">
                                        <label for="mce-FNAME" class="col-sm-2 col-form-label">Name </label>
                                        <div class="col-sm-10">
                                            <input type="text" value="" name="FNAME" class="form-control"
                                                id="mce-FNAME">
                                            <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="mce-EMAIL" class="col-sm-2 col-form-label">Email <span
                                                class="asterisk" style="color: red;">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="email" value="" name="EMAIL" class="form-control"
                                                id="mce-EMAIL" required>
                                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                        </div>
                                    </div>

                                    <div id="mce-responses" class="clear-foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_ad18f4fc61203ce08318f1249_08d1490c3a" tabindex="-1"
                                            value=""></div>
                                    <div>
                                        <input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="btn btn-danger"
                                            style="margin-left: 80px;">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script
        type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME" chat-title="Predict-Bay-Chat-Bot" agent-id="8d3a76f6-5407-46d9-8133-59a8919cffc5"
        language-code="en"></df-messenger>


    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>PredictBay</span></strong>. All Rights Reserved
        </div>
    </footer>


    <script src="/static/js/apexcharts.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/quill.min.js"></script>
    <script src="/static/assets/tinymce/tinymce.min.js"></script>
    <script src="/static/js/simple-datatables.js"></script>
    <script src="/static/js/validate.js"></script>
    <script>
        var loader = document.getElementById("loader");

        window.addEventListener("load", function () {
            loader.style.display = "none";
        })
    </script>

</body>

</html>
