<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login-PredictBay</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/css/quill.bubble.css" rel="stylesheet">
  <link href="/static/css/quill.snow.css" rel="stylesheet">
  <link href="/static/css/remixicon.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:500);

    .or-container {
      align-items: center;
      color: #ccc;
      display: flex;
      margin: 25px 0
    }

    .line-separator {
      background-color: #ccc;
      flex-grow: 5;
      height: 1px
    }
  </style>


</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">PredictBay</span>
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">
                  {% if error %}
                  <p>{{ error }}</p>
                  {% endif %}
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <!-- <div class="or-container">
                      <div class="line-separator"></div>
                      <div class="or-label">or</div>
                      <div class="line-separator"></div>
                    </div> -->
                    <!-- <button class="social-signin google" id="login" style="
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    appearance: none;
                    position: relative;
                    cursor: pointer;
                    text-align: center;
                    line-height: normal;
                    white-space: nowrap;
                    width: 100%;
                    margin: 0px;
                    padding: 10px 12px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 17px;
                    border-width: 1px;
                    border-radius: 10px;
                    border-style: solid;
                    border-color: rgb(228, 228, 228);
                    background-color: #0d6efd ;
                    color: #fff">
                    <img src="/static/img/google.png" alt="" style="position: absolute;
                    left: 10px;
                    width: 25px;
                    height: auto;">Login with google</button> -->
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics.js";
    import { getAuth, GoogleAuthProvider, getRedirectResult, signInWithPopup, signOut } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";

    const firebaseConfig = {
      apiKey: "AIzaSyAJbalc5AZU8cSYczlIsMWScLhca0YmvhY",
      authDomain: "auth-login-779c5.firebaseapp.com",
      projectId: "auth-login-779c5",
      storageBucket: "auth-login-779c5.appspot.com",
      messagingSenderId: "12338852662",
      appId: "1:12338852662:web:23e43cc45ef82cd5ee3997",
      measurementId: "G-E68CGVCWVD"
    };


    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    const provider = new GoogleAuthProvider(app);

    login.addEventListener('click', e => {
      // signInWithRedirect(auth, provider);
      signInWithPopup(auth, provider)
    });

    signInWithPopup(auth, provider)
      .then((result) => {
        const credential = GoogleAuthProvider.credentialFromResult(result);
        const token = credential.accessToken;
        const user = result.user;
        alert("success");
        alert(user.uid + " signed in as " + user.displayName);
        setTimeout(() => {
          window.location.href = "/";
        }, 10000);
        // alert(user.displayName)
        // alert(user.email)
        // alert(user.photoURL)
        // after successfull login redirect to home page
        // window.location.href = "index.html";

      }).catch((error) => {
        const errorCode = error.code;
        const errorMessage = error.message;
        const email = error.customData.email;
        const credential = GoogleAuthProvider.credentialFromError(error);

      });

    login.addEventListener('click', e => {
      signOut(auth).then(() => {
        // Sign-out successful.
      }).catch((error) => {
        // An error happened.
      });
    });
    // const analytics = getAnalytics(app);
  </script>


  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>
  <!-- <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->

</body>

</html>