<!DOCTYPE html>
<html>
<head>
    <link href="/static/img/logoalt2.png" rel="icon">
    <title>IP Logs</title>
    <style>
        .red-text {
            color: red;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const contentElement = document.querySelector('pre');
            const ipAddress = '103.94.87.228';

            const regex = new RegExp(ipAddress, 'g');
            contentElement.innerHTML = contentElement.innerHTML.replace(regex, '<span class="red-text">$&</span>');
        });
    </script>
</head>
<body>
    <pre>{{ content }}</pre>
</body>
</html>
